# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo

# ==============================
# Virtual Environment
# ==============================
venv/
.venv/
env/

# ==============================
# Biometric / Personal Data
# ==============================
dataset/
models/
intruders/

# ==============================
# Secure / Private Data
# ==============================
secure_files/
secure_storage/

# ==============================
# Database
# ==============================
users.db
*.db

# ==============================
# Logs
# ==============================
logs/
*.log
auth_logs.txt

# ==============================
# Temporary Files
# ==============================
*.tmp
*.temp

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db